html,body{
  height: 100%;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.m-r{
  margin-right: 25px;
}

.m-l{
  margin-left: 25px;
}

.m-l-large{
  margin-left: 45px;
}

.flex-col{
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;
}

.flex-row{
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.ivu-icon-search{
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}
